*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Forum", sans-serif;
  --background-dark: #0c0c0e;
  --text-black: #000;
  --text-white: #fff;
  --text-gold: #bb945f;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.App {
  width: 100%;
}

.header,
.welcome {
  background-color: var(--background-dark);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ========================= HEADER ========================= */
.header__container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: var(--text-white);
}

.header__nav,
.header__menu {
  display: flex;
  align-items: center;
}

.header__nav {
  column-gap: 40px;
}

.header__menu {
  column-gap: 30px;
}

.header__link > a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;
  letter-spacing: 0.02em;
  color: var(--text-white);
}

.hamb {
  display: none;
}

/* ========================= WELCOME ========================= */
.welcome__container {
  min-height: 600px;
  background: url(/src/assets/images/welcome.png);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.welcome__content {
  margin: 220px 840px 160px 0;
  padding: 35px 120px;
  background-color: var(--background-dark);
}

.welcome__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-white);
}

/* ========================= ABOUT ========================= */
.section {
  padding: 20px 20px 40px;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__container {
  row-gap: 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.title__section {
  color: var(--background-dark);
}

.title__line {
  width: 50px;
  height: 1px;
  background-color: var(--background-dark);
}

.about__slider {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.par {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: var(--text-black);
}

.about__par {
  text-align: center;
  letter-spacing: 0.013em;
}

.slider__img {
  margin: 0 14px;
}

.slick-prev,
.slick-next {
  display: none;
}

.slick-dots {
  transform: translateY(30px);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li {
  margin: 0;
}

.about__slider .slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--background-dark);
}

.slick-dots li button {
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: var(--text-gold);
}

/* ========================= FAVORITE ========================= */
.favorites__section {
  margin-top: 50px;
}

.favorites__container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.favorites__text_bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--text-black);
}

.favorites__category {
  display: flex;
  column-gap: 90px;
}

.category__label {
  display: flex;
  column-gap: 20px;
  align-items: center;
  cursor: pointer;
}

.category__input {
  display: none;
}

.category__fake {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-black);
  position: relative;
  border-radius: 50%;
}

.category__fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--text-black);
  opacity: 0;
  transition: 0.2s;
  border-radius: 50%;
}

.category__input:checked + .category__fake::before {
  opacity: 1;
}

.category__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--text-black);
  text-transform: capitalize;
}

.category__text_selected {
  font-weight: 700;
}

.favorites__books {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 260px;
}

.book__container {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid #000;
  width: 550px;
  height: 555px;
  position: relative;
}

.staff-picks {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.1em;
  color: var(--text-black);
}

.staff-picks__line {
  width: 50px;
  height: 1px;
  border: none;
  background-color: var(--text-gold);
}

.book__name,
.book__author,
.book__description {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 267%;
  letter-spacing: 0.13em;
  color: var(--text-black);
}

.book__name {
  text-transform: uppercase;
}

.book__name,
.book__author {
  font-weight: 700;
}

.book__description {
  width: 355px;
  font-weight: 400;
  text-transform: capitalize;
}

.book__btn {
  display: flex;
  align-items: center;
  column-gap: 200px;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.book__btn button {
  padding: 7px 25px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 2px;
  background: none;
  transition: .3s ease-in-out;
}

.book__btn-buy {
  color: var(--background-dark);
  border: 1px solid var(--text-black);
}

.book__btn-own {
  color: var(--text-gold);
  border: 1px solid var(--text-gold);
}

.book__price {
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.13em;
  color: var(--text-black);
}

.book__img {
  position: absolute;
  right: -40px;
  bottom: -1px;
  display: flex;
}

/* ========================= COFFEE SHOP ========================= */
.coffee-shop__par {
  text-align: center;
  letter-spacing: 0.11em;
}

.coffee-shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.coffee-shop__menu {
  width: 438px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.coffee-shop__title {
  color: var(--text-gold);
  text-align: center;
}

.coffee-shop__category {
  display: flex;
  justify-content: space-between;
}

.coffee-shop__price {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.coffee-shop__line {
  border: 1px solid var(--text-gold);
  width: 100px;
  height: 0;
}

/* ========================= CONTACTS ========================= */
.contacts__info {
  display: flex;
  justify-content: space-between;
}

.contacts__info-text,
.contacts__info-tel {
  display: flex;
  flex-direction: column;
}

.contacts__info-text {
  row-gap: 40px;
}

.contacts__info-tel {
  row-gap: 20px;
}

.contacts__par {
  letter-spacing: 0.11em;
}

.contacts__par-bold {
  font-weight: 700;
  color: var(--text-black);
}

/* ========================= DIGITAL LIBRARY CARDS ========================= */
.find-card,
.digital-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-card {
  row-gap: 30px;
}

.card__title,
.digital-card__input label input {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.02em;
}

.card__title {
  color: var(--text-black);
}

.find-card__title {
  font-family: var(--font-family);
}

.digital-card__container {
  padding: 20px 20px 30px;
  row-gap: 20px;
  border: 3px solid var(--text-gold);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.digital-card__box {
  padding: 20px 20px 25px;
  background: var(--text-gold);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.digital-card__title {
  font-family: var(--second-family);
  line-height: 167%;
}

.digital-card__input label input {
  padding-left: 20px;
  width: 520px;
  height: 66px;
  border: none;
  border-radius: 10px;
  font-family: var(--second-family);
  line-height: 167%;
  color: #8e8e8e;
}

.digital-card__btn {
  border: 1px solid var(--background-dark);
  border-radius: 2px;
  background: none;
  font-family: var(--font-family);
  font-weight: 700;
  text-align: center;
  color: var(--background-dark);
}

.find-card__btn button {
  padding: 10px 40px;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.get-card {
  width: 456px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.get-card__title {
  text-align: center;
}

.get-card__par {
  letter-spacing: 0.02em;
  text-align: right;
}

.get-card__btns {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.get-card__btns button {
  padding: 7px 15px;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/* ========================= FOOTER ========================= */
.footer {
  background-color: var(--background-dark);
}

.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: var(--text-white);
}

.footer__text-right {
  text-align: right;
}

.footer__social {
  display: flex;
  column-gap: 15px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__links p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: var(--text-white);
}

/* ========================= BASKET ========================= */
.basket {
  position: relative;
}

.basket__icon-count {
  color: var(--text-gold);
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: -10px;
  right: -15px;
}

.basket__container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.basket__container-empty {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.basket__info,
.basket__info-general,
.info-title {
  display: flex;
  flex-direction: column;
}

.basket__info {
  row-gap: 50px;
}

.basket__info-clear-all {
  column-gap: 10px;
}

.basket__info-clear-all,
.basket__info-content,
.basket__info-title,
.info__price,
.basket__info-general div {
  display: flex;
  align-items: center;
}

.basket__info-clear-all {
  column-gap: 10px;
  cursor: pointer;
}

.basket__info-content {
  width: 1000px;
  justify-content: space-between;
}

.basket__info-title {
  column-gap: 20px;
}

.basket__info-title img {
  width: 100px;
}

.info-title {
  row-gap: 10px;
}

.info__price {
  column-gap: 50px;
}

.quantity__container {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

.quantity__btn {
  border: none;
  background: #dfdfdf;
}

.quantity__span {
  padding: 10px 17px;
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--text-black);
}

.basket__info-general {
  width: 330px;
  row-gap: 15px;
}

.basket__info-general div {
  justify-content: space-between;
}

.basket__info-general-title  {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: var(--text-black);
}

.basket__info-remove-btn {
  padding: 10px;
  cursor: pointer;
}

.basket__empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

}

.basket__empty-cart img {
  width: 450px;
}